@rendermode InteractiveServer

<nav class="navbar bg-primary navbar-expand-sm navbar-toggleable-sm" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Product Sales</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/importdata">Import Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/countries">Countries</a>
                </li>
            </ul>
            @if (isUserLoggedIn)
            {
                <form class="d-flex justify-content-end align-items-center" @formname="logout" action="Account/Logout" method="post">
                    <AntiforgeryToken />
                    <span class="navbar-text loggedin-user">User: @userName</span>
                    <input type="hidden" name="ReturnUrl" value="" />
                    <div class="nav-item">
                        <button type="submit" class="nav-link btn btn-link btn-logout">Log out</button>
                    </div>
                </form>
            }
        </div>
    </div>
</nav>

@code {
    //-------------------------------------------------------------------------------------------------
    // Name        : NavMenu
    // Type        : Blazor component
    // Author      : Kevin McGregor
    // History     : 31-Mar-25 - Created
    // Description :
    // Copyright   : This is the property of Escape Software Solutions Limited and cannot be used,
    //               copied or modified without the express permission of the company in
    //               in writing. Copyright 2025 Escape Software Solutions Limited.
    //-------------------------------------------------------------------------------------------------

    [CascadingParameter]
    private Task<AuthenticationState>? authStateTask { get; set; }

    private bool isUserLoggedIn { get; set; }
    private string? userName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (authStateTask != null)
        {
            isUserLoggedIn = (await authStateTask)?.User?.Identity?.IsAuthenticated ?? false;
            userName = (await authStateTask)?.User?.Identity?.Name ?? null;
        }
    }
}